

.cardsWrapper {
  display: flex;
  justify-content: center;
}

.card img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: absolute;
  left: 0;
  top: 0;
}

.imgWrapper {
  position: relative;

}

.imgWrapper::after {
  display: block;
  content: '';
  /* 16:9 aspect ratio */
  padding-bottom: 56.25%;
}

.card {
  margin: 0 0.5em 12px;
  box-shadow: 2px 6px 8px 0 #16161a2e;
  border: none;
  border-radius: 0;
  --bs-card-title-color: #00095e;
  text-align: left;
}

.carouselInner {
  padding: 1em;
}

.price {
  font-size: 22px;
  font-weight: 700;
  color: #7EA0FF;
  line-height: 1;
}

.priceWrapper {
  display: flex;
  justify-content: space-between;
}

