@import url('./components/home/carousel/Carousel.css');

@font-face {
  font-family: Comfortaa;
  src: url('../public/fonts/Comfortaa/Comfortaa-VariableFont_wght.ttf');
}

@font-face {
  font-family: Fusion;
  src: url('../public/fonts/fusion_bold.ttf');
}

@font-face {
  font-family: Haas;
  src: url('../public/fonts/AlteHaasGroteskBoldZhukov/altehaasgroteskboldzhukov_bold.otf');
}

@font-face {
  font-family: Adys;
  src: url('../public/fonts/ofont.ru_Adys.ttf');
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  scroll-behavior: smooth;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

li {
  list-style-type: none;
}

ul,
li {
  padding: 0;
}

h1, h2, h3, h4, h5, h6 {
  font-family: Adys, Roboto, sans-serif;
  --bs-heading-color: #00095E;
}